* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(circle at top, #1b1f2a, #0b0d12);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    color: #eee;
}


/* efek malam */

.night-bg {
    position: fixed;
    inset: 0;
    background-image: radial-gradient(#ffffff22 1px, transparent 1px);
    background-size: 3px 3px;
    opacity: .15;
    pointer-events: none;
}

.book {
    width: 95vw;
    max-width: 380px;
    height: 90vh;
    margin: auto;
    position: relative;
}


/* PAGE */

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    color: #222;
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, .6);
    opacity: 0;
    transform: translateX(40px) scale(.95);
    transition: all .9s ease;
    text-align: center;
}

.page.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    z-index: 10;
}

.cover h1 {
    margin-top: 35%;
}


/* POLAROID */

.polaroid {
    background: #fff;
    padding: 10px 10px 28px;
    border-radius: 6px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .35);
    width: 85%;
    margin: 10px auto 0;
}

.polaroid img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
}

.polaroid span {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    color: #555;
}

.rotate {
    transform: rotate(-3deg);
}


/* TEXT */

.type {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0;
    animation: fade 1.1s forwards;
}

@keyframes fade {
    to {
        opacity: 1;
    }
}


/* BUTTON */

.next,
.unlock {
    margin-top: 18px;
    padding: 8px 22px;
    border: none;
    border-radius: 20px;
    background: #111;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.next:hover,
.unlock:hover {
    background: #000;
}


/* SPECIAL PAGES */

.secret {
    background: #0f1118;
    color: #eee;
}

.final {
    background: #000;
    color: #fff;
}


/* HEART */

.big-heart {
    font-size: 70px;
    margin-top: 18px;
    animation: pulse 1.4s infinite;
}

@keyframes pulse {
    50% {
        transform: scale(1.3);
    }
}